<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>课程管理</title>
    <link rel="stylesheet" href="./plugins/layui/css/layui.css" media="all" />
    <link rel="stylesheet" href="//releases.flowplayer.org/7.1.2/skin/skin.css" />
    <link rel="stylesheet" href="./css/js.css" />
    <script src="./js/flowplayer.min.js"></script>
</head>

<body>

<div class="demoTable" style="margin-top: 8px">
    <button class="layui-btn" id="add">
        <i class="layui-icon">&#xe608;</i> 添加
    </button>
    搜索：
    <div class="layui-inline">
        <input class="layui-input" name="couid" id="searchInput" autocomplete="off"></input>
    </div>
    <button class="layui-btn" data-type="reload" id="search">搜索</button>
</div>
<table class="layui-table"  lay-filter="test" id="courseTable">

</table>
<!--测试代码-->
<form class="layui-form" action="" id="hidden" style="display: none">
    <div class="layui-form-item">
        <label class="layui-form-label">课程名称</label>
        <div class="layui-input-block">
            <input type="text" lay-verify="title" name="couName" id="getCouName"
                   autocomplete="off" placeholder="请输入名称" class="layui-input">
            </input>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">备注</label>
        <div class="layui-input-block">
            <input type="text" name="notes" lay-verify="title" id="getNotes"
                   autocomplete="off" class="layui-input" placeholder="请输入备注">
            </input>
        </div>
    </div>

    <button type="button" class="layui-btn" id="test1">
        <i class="layui-icon">&#xe67c;</i>上传文件（可以多个）
        <!--<input type="file" class="layui-btn" name="file" id="upfile" />-->
    </button>

    <div class="layui-upload-list">
        <table class="layui-table">
            <thead>
            <tr><th>文件名</th>
                <th>大小</th>
                <th>状态</th>
                <th>操作</th>
            </tr></thead>
            <tbody id="demoList"></tbody>
        </table>
    </div>

    <button type="button" class="layui-btn" id="testListAction">开始上传</button>
</form>
<!--测试代码 end-->
<!--播放列表-->
<div id="content" style="display: none">
    <div id="jsplaylistdemo">
        <div id="jscontainer">
            <div id="jsplaylistdemovideos" class="show">

                <p class="notes">
                    以下每个框提供视频的标题和索命。 您可以选择视频，然后按
                    “加载播放列表”按钮以播放从你的选择列表载入的视频。
                </p>

                <h2>选择视频到播放列表</h2>
                <ul id="list">

                </ul>
                <a id="loadPlaylist" class="button">加载视频 &raquo;</a>
            </div>


            <div id="jsvideocontainer">
                <!--
                Empty container, all videos come from
                javascript playlist configuration.
                -->
                <div id="jsplaylist">
                    <a class="fp-prev">Prev</a>
                    <a class="fp-next">Next</a>
                </div>
                <a id="selectPlaylist" class="button">&laquo; 更换播放列表</a>
            </div>
        </div>
    </div>
</div>
<!--播放列表 end-->
<script src="./plugins/layui/layui.js"></script>
<!--手动设置js，第一个是获取当前项目路径，第二个是设置功能按钮-->
<script src="js/jquery.min.js"></script>
<script src="js/getLocalHost.js"></script>
<script>
    //<![CDATA[
    var host=getContextPath();
    var height=window.screen.availHeight-280;
    layui.use('table', function() {
        var table = layui.table;

        var courseTable=table.render({
            elem: '#courseTable' //指定原始表格元素选择器（推荐id选择器）
            ,height: height //容器高度
            ,url: host+'/course/getList'
            ,cols:[[
                {field:'couid', width:120, sort: true,title:'课程ID'}
                ,{field:'couName', width:120,title:'课程名'}
                ,{field:'couUploadTime', width:120,title:'上传时间'}
                ,{field:'couDuration', width:120,sort:true,title:'时长'}
                ,{field:'notes', width:200,title:'备注'}
                ,{fixed:'right', width:240, align:'center', toolbar: '#barDemo'}
            ]]
            ,response: {
                statusName: 'success', //数据状态的字段名称，默认：code
                statusCode: true //成功的状态码，默认：0
                //,msgName: 'hint' //状态信息的字段名称，默认：msg
                ,countName: 'total' //数据总数的字段名称，默认：count
                ,dataName: 'rows' //数据列表的字段名称，默认：data
            }
            /*,initSort: {
                field: 'couid' //排序字段，对应 cols 设定的各字段名
                ,type: 'desc' //排序方式  asc: 升序、desc: 降序、null: 默认排序
            }*/
            ,page: true
            ,limits: [10,30,60,90,150,300]
            ,limit: 10 //默认采用60
            ,id:'idTest'

        });

        //条件查询
        $("#search").click(function () {

            var search=$("#searchInput").val();
            if(search!=null && search!=""){
                courseTable.reload({
                    where:{
                        couName:search
                    }
                });
            }else{
                courseTable.reload({
                    where:{
                    }
                });

            }

        });

        table.on('tool(test)', function(obj){
            //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值
            var tr = obj.tr; //获得当前行 tr 的DOM对象
            var text='<div style="padding: 50px; line-height: 22px; ' +
                'background-color: #393D49; color: #fff; font-weight: 300;">';
            text+='模块id：'+data.couid+'<br/>课程名称：'+data.couName+'<br/><br/>上传时间：';
            text+=data.couUploadTime+'<br/><br/>时长：'+data.couDuration;
            text+='<br/><br/>备注：'+data.notes;
            text+='</div>';
            if(layEvent === 'detail'){ //查看
                layui.use('layer', function() { //独立版的layer无需执行这一句
                    var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句
                    layer.open({
                        type: 1
                        ,title: false //不显示标题栏
                        ,closeBtn: false
                        ,area: '300px;'
                        ,shade: 0.8
                        ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
                        ,btn: ['百度一下', '确定']
                        ,moveType: 1 //拖拽模式，0或者1
                        ,content: text
                        ,success: function (layero) {
                            var btn = layero.find('.layui-layer-btn');
                            btn.css('text-align', 'center');
                            btn.find('.layui-layer-btn0').attr({
                                href: 'http://www.baidu.com/'
                                , target: '_blank'
                            });
                        }
                    });
                });
            } else if(layEvent === 'del'){ //删除
                layer.confirm('真的删除行么', function(index){

                    //向服务端发送删除指令
                    $.ajax({
                        url:host + '/course/delete',
                        data:{couid:data.couid},
                        success:function (json) {
                            layer.close(index);
                            if (json.success) {
                                layer.open({
                                    type: 1
                                    , offset: 'rb'
                                    , id: 'delSuccess'
                                    , content: json.msg
                                    , btn: '关闭全部'
                                    , btnAlign: 'c' //按钮居中
                                    , shade: 0 //不显示遮罩
                                    , yes: function () {
                                        layer.closeAll();
                                        obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                                        layer.close(index);
                                    }
                                });
                            } else {
                                layer.open({
                                    type: 1
                                    , offset: 'rb'
                                    , id: 'delFail'
                                    , content: json.msg
                                    , btn: '关闭全部'
                                    , btnAlign: 'c' //按钮居中
                                    , shade: 0 //不显示遮罩
                                    , yes: function () {
                                        layer.closeAll();
                                    }
                                });
                            }
                        }
                    });
                });
            } else if(layEvent === 'edit'){ //编辑
                $("#getCouName").val(data.couName);
                $("#getCouUploadTime").val(data.couUploadTime);
                $("#getCouDuration").val(data.couDuration);
                $("#getNotes").val(data.notes);
                layui.use('layer', function() {
                    var layer = layui.layer;
                    layer.open({
                        title:'编辑',
                        type: 1,
                        btn: ['确定','取消'],
                        content:$("#hidden"),
                        yes: function(index, layero) {
                            //按钮【按钮一】的回调
                            var a = new Object();
                            a.couName = $("#getCouName").val();
                            a.notes = $("#getNotes").val();
                            a.couid = data.couid;
                            $.ajax({
                                url: host + '/course/modify',
                                data: a,
                                success: function (json) {
                                    layer.close(index);
                                    if (json.success) {
                                        layer.open({
                                            type: 1
                                            , offset: 'rb'
                                            , id: 'editSuccess'
                                            , content: json.msg
                                            , btn: '关闭全部'
                                            , btnAlign: 'c' //按钮居中
                                            , shade: 0 //不显示遮罩
                                            , yes: function () {
                                                $("#getCouName").val("");
                                                $("#getNotes").val("");

                                                layer.closeAll();
                                            }
                                        });
                                        //同步更新缓存对应的值
                                        console.log(data);
                                        console.log(obj.update);
                                        obj.update({
                                            couName: a.couName
                                            ,notes: a.notes
                                        });
                                    } else {
                                        layer.open({
                                            type: 1
                                            , offset: 'rb'
                                            , id: 'editFail'
                                            , content: json.msg
                                            , btn: '关闭全部'
                                            , btnAlign: 'c' //按钮居中
                                            , shade: 0 //不显示遮罩
                                            , yes: function () {
                                                $("#getCouName").val("");
                                                $("#getNotes").val("");
                                                layer.closeAll();
                                            }
                                        });
                                    }
                                }
                            });
                        }
                    });
                });
            }else if(layEvent === 'look'){     //查看视频
                $("#list").empty();
                var r=data.notes.split('-');
                var allVideos=new Array();
                var sources=new Array();
                var bigObj=new Array();
                $.each(r,function (index,domEle) {
                    var t="<li><h3>"+(index+1)+"</h3><p>"+domEle+"</p></li>";
                    $("#list").append(t);
                    sources[index]=new Array();
                    var obj=new Object();
                    obj.type='video/mp4';
                    obj.src="video/"+domEle;
                    sources[index].push(obj);
                    bigObj[index]=new Object();
                    bigObj[index].sources=sources[index];
                    allVideos.push(bigObj[index]);
                });
                /*var allVideos = [{
                    sources: [ {
                        type: 'video/mp4',
                        src:  "//edge.flowplayer.org/night7.mp4"
                    }]
                }, {
                    sources: [{
                        type: 'video/mp4',
                        src:  "//edge.flowplayer.org/night5.mp4"
                    }]
                }, {
                    sources:[ {
                        type: 'video/mp4',
                        src:  "//edge.flowplayer.org/night6.mp4"
                    }]
                }, {
                    sources: [ {
                        type: 'video/mp4',
                        src:  "//edge.flowplayer.org/night4.mp4"
                    }]
                }];*/

                var jsPlaylistApi;

                var clipSelector = document.getElementById("jsplaylistdemovideos"),
                    clipFields = clipSelector.getElementsByTagName("li"),
                    playerWrapper = document.getElementById("jsvideocontainer"),
                    i;

                var refreshPlaylist = function() {

                    var playlistVideos = [], i;

                    for (i = 0;i<clipFields.length;i++) {
                        if (clipFields[i].className == "selected") {
                            playlistVideos.push(allVideos[i]);
                        }
                    }

                    if (!playlistVideos.length) {
                        return false;
                    }

                    if (!jsPlaylistApi) { // initial load
                        /*
                        install the player and get handle on its api

                        the player must be unloadable because it will be hidden
                        on playlist refresh: use a splash setup
                        */

                        jsPlaylistApi = flowplayer('#jsplaylist', {
                            ratio: 9/16,
                            customPlaylist: true,
                            playlist: playlistVideos,
                            splash: true,
                            rtmp: {
                                url: "rtmp://s3b78u0kbtx79q.cloudfront.net/cfx/st"
                            }
                        });

                    } else {
                        jsPlaylistApi.setPlaylist(playlistVideos);
                    }

                    return true;
                };


                for (i = 0; i < clipFields.length; i += 1) {
                    // retrieve clip titles dynamically from page
                    allVideos[i].title = clipFields[i].getElementsByTagName("h3")[0].innerHTML;

                    clipFields[i].onclick = function () {
                        if (this.className == "selected") {
                            this.removeAttribute("class");
                        } else {
                            this.className = "selected";
                        }
                    };
                }

                document.getElementById("loadPlaylist").onclick = function () {
                    if (refreshPlaylist()) {
                        playerWrapper.className = "show";
                        clipSelector.removeAttribute("class");
                        jsPlaylistApi.play(0);
                    }
                };

                document.getElementById("selectPlaylist").onclick = function () {
                    jsPlaylistApi.unload();
                    playerWrapper.removeAttribute("class");
                    clipSelector.className = "show";
                };

                layui.use('layer', function() {
                    var layer = layui.layer;
                    layer.open({
                        title: '查看视频',
                        type: 1,
                        btn: ['确定', '取消'],
                        content: $("#content"),
                        area:["800px","800px"]
                    });
                });
            }
        });

    });

    //设置上传
    layui.use('upload', function(){
        var upload = layui.upload;
        var demoListView = $('#demoList')
        //执行实例
        var uploadInst = upload.render({
            elem: '#test1' //绑定元素
            ,url: host+'/course/fileAdd' //上传接口
            ,multiple:true
            ,auto:false
            ,accept:'video'
            ,bindAction: '#testListAction'
            ,choose: function(obj){
                var files = obj.pushFile(); //将每次选择的文件追加到文件队列
                //读取本地文件
                obj.preview(function(index, file, result){
                    var tr = $(['<tr id="upload-'+ index +'">'
                        ,'<td>'+ file.name +'</td>'
                        ,'<td>'+ (file.size/1014).toFixed(1) +'kb</td>'
                        ,'<td>等待上传</td>'
                        ,'<td>'
                        ,'<button class="layui-btn layui-btn-mini demo-reload layui-hide">重传</button>'
                        ,'<button class="layui-btn layui-btn-mini layui-btn-danger demo-delete">删除</button>'
                        ,'</td>'
                        ,'</tr>'].join(''));
                    //单个重传
                    tr.find('.demo-reload').on('click', function(){
                        obj.upload(index, file);
                    });

                    //删除
                    tr.find('.demo-delete').on('click', function(){
                        delete files[index]; //删除对应的文件
                        tr.remove();
                    });

                    demoListView.append(tr);
                });
            }
            ,done: function(res, index, upload){
                if(res.success){ //上传成功
                    var tr = demoListView.find('tr#upload-'+ index)
                        ,tds = tr.children();
                    tds.eq(2).html('<span style="color: #5FB878;">上传成功</span>');
                    tds.eq(3).html(''); //清空操作
                    //delete files[index]; //删除文件队列已经上传成功的文件
                    $("#getNotes").val(res.msg);
                    return;
                }

                this.error(index, upload);
            }
            ,error: function(index, upload){
                var tr = demoListView.find('tr#upload-'+ index)
                    ,tds = tr.children();
                tds.eq(2).html('<span style="color: #FF5722;">上传失败</span>');
                tds.eq(3).find('.demo-reload').removeClass('layui-hide'); //显示重传
            }
        });

        //添加按钮
        $("#add").click(function () {
            layui.use('layer', function() {
                var layer = layui.layer;

                layer.open({
                    title:'添加',
                    type: 1,
                    btn: ['确定','取消'],
                    yes: function(index, layero){
                        //按钮【按钮一】的回调
                        var obj=new Object();
                        var couName=$("#getCouName").val();
                        var notes=$("#getNotes").val();
                        obj.couName=couName;
                        obj.notes=notes;
                        $.ajax({
                            url:host+'/course/add',
                            data:obj,
                            type:'post',
                            beforeSend:function(){
                                console.log("正在进行，请稍候");
                            },
                            success:function (json) {
                                layer.close(index);
                                if(json.success){
                                    layer.open({
                                        type: 1
                                        ,offset: 'rb'
                                        //具体配置参考：http://www.layui.com/doc/modules/layer.html#offset
                                        ,id: 'addSuccess'
                                        ,content: json.msg
                                        ,btn: '关闭全部'
                                        ,btnAlign: 'c' //按钮居中
                                        ,shade: 0 //不显示遮罩
                                        ,yes: function(){
                                            layer.closeAll();
                                            location.reload();
                                        }
                                    });
                                }else {
                                    layer.open({
                                        type: 1
                                        ,offset: 'rb'
                                        //具体配置参考：http://www.layui.com/doc/modules/layer.html#offset
                                        ,id: 'addFail'
                                        ,content: json.msg
                                        ,btn: '关闭全部'
                                        ,btnAlign: 'c' //按钮居中
                                        ,shade: 0 //不显示遮罩
                                        ,yes: function(){
                                            layer.closeAll();
                                        }
                                    });
                                }
                            }
                        });
                    }
                    ,btn2: function(index, layero){
                        //按钮【按钮二】的回调

                        //return false 开启该代码可禁止点击该按钮关闭
                    },
                    content:$("#hidden")
                });
            });
        });
    });
    //]]>


</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-mini" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-mini" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-mini" lay-event="del">删除</a>
    <a class="layui-btn layui-btn-mini" lay-event="look">查看视频</a>

</script>

</body>

</html>