<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>批次管理</title>
    <link rel="stylesheet" href="./plugins/layui/css/layui.css" media="all" />
</head>
<body>

<div class="demoTable" style="margin-top: 8px">
    <button class="layui-btn" id="add">
        <i class="layui-icon">&#xe608;</i> 添加
    </button>
    搜索批次：
    <div class="layui-inline">
        <input class="layui-input" name="groupName" id="searchGroupName" autocomplete="off"></input>
    </div>
    搜索课程：
    <div class="layui-inline">
        <input class="layui-input" name="couName" id="searchCouName" autocomplete="off"></input>
    </div>
    <button class="layui-btn" data-type="reload" id="search">搜索</button>
</div>
<table class="layui-table"  lay-filter="test" id="groupTable">

</table>

<table class="layui-table"  lay-filter="test" id="groupTable2">

</table>
<!--测试代码-->
<form class="layui-form" action="" id="hidden" style="display: none">
    <div class="layui-form-item">
        <label class="layui-form-label">批次</label>
        <div class="layui-input-block">
            <input type="text" lay-verify="title" name="groupName" id="getGroupName"
                   autocomplete="off" placeholder="请输入名称" class="layui-input">
            </input>
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">开始时间</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" name="beginTime"
                       id="getBeginTime" placeholder="yyyy-MM-dd" />
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">结束时间</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" name="endTime"
                       id="getEndTime" placeholder="yyyy-MM-dd" />
            </div>
        </div>

        <select name="city" lay-verify="" id="setCouName">
            <option value="">设置该批次课程</option>
        </select>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <input type="text" name="notes" lay-verify="title" id="getNotes"
                       autocomplete="off" class="layui-input" placeholder="请输入备注">
                </input>
            </div>
        </div>
    </div>
</form>
<!--测试代码 end-->
<script src="./plugins/layui/layui.js"></script>
<!--手动设置js，第一个是获取当前项目路径，第二个是设置功能按钮-->
<script src="js/jquery.min.js"></script>
<script src="js/getLocalHost.js"></script>
<script>
    //<![CDATA[
    var host=getContextPath();
    layui.use('table', function() {
        var table = layui.table;

        var groupTable=table.render({
            elem: '#groupTable' //指定原始表格元素选择器（推荐id选择器）
            ,height: '400' //容器高度
            ,url: host+'/group/getList'
            ,cols:[[
                {field:'groupid', width:120, sort: true,title:'用户ID'}
                ,{field:'groupName', width:120,title:'批次'}
                ,{field:'beginTime', width:120,title:'开始时间'}
                ,{field:'endTime', width:120,title:'结束时间'}
                ,{field:'couid', width:177,title:'课程id'}
                ,{field:'couName', width:120,title:'课程名称'}
                ,{field:'notes', width:120,title:'备注'}
                ,{fixed:'right', width:200, align:'center', toolbar: '#barDemo'}
            ]]
            ,response: {
                statusName: 'success', //数据状态的字段名称，默认：code
                statusCode: true //成功的状态码，默认：0
                //,msgName: 'hint' //状态信息的字段名称，默认：msg
                ,countName: 'total' //数据总数的字段名称，默认：count
                ,dataName: 'rows' //数据列表的字段名称，默认：data
            }
            /*,initSort: {
                field: 'groupid' //排序字段，对应 cols 设定的各字段名
                ,type: 'desc' //排序方式  asc: 升序、desc: 降序、null: 默认排序
            }*/
            ,page: true
            ,limits: [10,30,60,90,150,300]
            ,limit: 10 //默认采用60
            ,id:'idTest'

        });

        var

        //查询
        $("#search").click(function () {

            var searchGroupName=$("#searchGroupName").val();
            var searchCouName=$("#searchCouName").val();
            if(searchGroupName!=null && searchGroupName!=""&&searchCouName!=null&&searchCouName!=""){
                groupTable.reload({
                    where:{
                        groupName:searchGroupName,
                        couName:searchCouName
                    }
                });
            }else if(searchGroupName!=null && searchGroupName!=""&&(searchCouName==null||searchCouName=="")){
                groupTable.reload({
                    where:{
                        groupName:searchGroupName
                    }
                });
            }else if(searchGroupName==null||searchGroupName==""&&(searchCouName!=null&&searchCouName!="")){
                groupTable.reload({
                    where:{
                        couName:searchCouName
                    }
                });
            }else{
                groupTable.reload({
                    where:{
                    }
                });
            }

        });

        table.on('tool(test)', function(obj){
            //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值
            var tr = obj.tr; //获得当前行 tr 的DOM对象
            var text='<div style="padding: 50px; line-height: 22px; ' +
                'background-color: #393D49; color: #fff; font-weight: 300;">';
            text+='批次id：'+data.groupid+'<br/>批次：'+data.groupName+'<br/><br/>开始时间：';
            text+=data.beginTime+'<br/><br/>结束时间：'+data.endTime+'<br/><br/>用户名：';
            text+=data.couName+'<br/><br/>用户id：'+data.couid;
            text+='</div>';
            if(layEvent === 'detail'){ //查看
                layui.use('layer', function() { //独立版的layer无需执行这一句
                    var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句
                    layer.open({
                        type: 1
                        ,title: false //不显示标题栏
                        ,closeBtn: false
                        ,area: '300px;'
                        ,shade: 0.8
                        ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
                        ,btn: ['百度一下', '确定']
                        ,moveType: 1 //拖拽模式，0或者1
                        ,content: text
                        ,success: function (layero) {
                            var btn = layero.find('.layui-layer-btn');
                            btn.css('text-align', 'center');
                            btn.find('.layui-layer-btn0').attr({
                                href: 'http://www..com/'
                                , target: '_blank'
                            });
                        }
                    });
                });
            } else if(layEvent === 'del'){ //删除
                layer.confirm('真的删除行么', function(index){

                    //向服务端发送删除指令
                    $.ajax({
                        url:host + '/group/delete',
                        data:{groupid:data.groupid},
                        success:function (json) {
                            layer.close(index);
                            if (json.success) {
                                layer.open({
                                    type: 1
                                    , offset: 'rb'
                                    , id: 'delSuccess'
                                    , content: json.msg
                                    , btn: '关闭全部'
                                    , btnAlign: 'c' //按钮居中
                                    , shade: 0 //不显示遮罩
                                    , yes: function () {
                                        layer.closeAll();
                                        obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                                        layer.close(index);
                                    }
                                });
                            } else {
                                layer.open({
                                    type: 1
                                    , offset: 'rb'
                                    , id: 'delFail'
                                    , content: json.msg
                                    , btn: '关闭全部'
                                    , btnAlign: 'c' //按钮居中
                                    , shade: 0 //不显示遮罩
                                    , yes: function () {
                                        layer.closeAll();
                                    }
                                });
                            }
                        }
                    });
                });
            } else if(layEvent === 'edit'){ //编辑
                $("#getGroupName").val(data.groupName);
                $("#getCouName").val(data.couName);
                $("#getBeginTime").val(data.beginTime);
                $("#getEndTime").val(data.endTime);
                $("#getNotes").val(data.notes);
                layui.use('layer', function() {
                    var layer = layui.layer;
                    layer.open({
                        title:'编辑',
                        type: 1,
                        btn: ['确定','取消'],
                        content:$("#hidden"),
                        yes: function(index, layero) {
                            //按钮【按钮一】的回调
                            var a = new Object();
                            a.groupName = $("#getGroupName").val();
                            a.beginTime = $("#getBeginTime").val();
                            a.endTime = $("#getEndTime").val();
                            a.couName = $("#getCouName").val();
                            a.notes = $("#getNotes").val();
                            a.groupid = $("#getGroupid").val();
                            $.ajax({
                                url: host + '/group/modify',
                                data: a,
                                success: function (json) {
                                    layer.close(index);
                                    if (json.success) {
                                        layer.open({
                                            type: 1
                                            , offset: 'rb'
                                            , id: 'editSuccess'
                                            , content: json.msg
                                            , btn: '关闭全部'
                                            , btnAlign: 'c' //按钮居中
                                            , shade: 0 //不显示遮罩
                                            , yes: function () {
                                                $("#getGroupName").val("");
                                                $("#getCouName").val("");
                                                $("#getBeginTime").val("");
                                                $("#getEndTime").val("");
                                                $("#getGroupid").val("");
                                                $("#getNotes").val("");

                                                layer.closeAll();
                                            }
                                        });
                                        //同步更新缓存对应的值
                                        console.log(data);
                                        console.log(obj.update);
                                        obj.update({
                                            groupName: a.groupName
                                            ,beginTime: a.beginTime
                                            ,endTime: a.endTime
                                            ,couName: a.couName
                                            ,notes: a.notes
                                            ,groupid: a.groupid
                                        });
                                    } else {
                                        layer.open({
                                            type: 1
                                            , offset: 'rb'
                                            , id: 'editFail'
                                            , content: json.msg
                                            , btn: '关闭全部'
                                            , btnAlign: 'c' //按钮居中
                                            , shade: 0 //不显示遮罩
                                            , yes: function () {
                                                $("#getGroupName").val("");
                                                $("#getCouName").val("");
                                                $("#getBeginTime").val("");
                                                $("#getEndTime").val("");
                                                $("#getGroupid").val("");
                                                $("#getNotes").val("");
                                                layer.closeAll();
                                            }
                                        });
                                    }
                                }
                            });
                        }
                    });
                });
            }
        });


        //添加按钮
        $("#add").click(function () {
            layui.use('layer', function() {
                var layer = layui.layer;
                layer.open({
                    title:'添加',
                    type: 1,
                    btn: ['确定','取消'],
                    yes: function(index, layero){
                        //按钮【按钮一】的回调
                        var obj=new Object();
                        obj.groupName=$("#getGroupName").val();
                        obj.beginTime=$("#getBeginTime").val();
                        obj.endTime=$("#getEndTime").val();
                        obj.couName=$("#getCouName").val();
                        obj.notes=$("#getNotes").val();
                        obj.groupid=$("#getGroupid").val();
                        $.ajax({
                            url:host+'/group/add',
                            data:obj,
                            success:function (json) {
                                layer.close(index);
                                if(json.success){
                                    layer.open({
                                        type: 1
                                        ,offset: 'rb'
                                        ,id: 'addSuccess'
                                        ,content: json.msg
                                        ,btn: '关闭全部'
                                        ,btnAlign: 'c' //按钮居中
                                        ,shade: 0 //不显示遮罩
                                        ,yes: function(){
                                            layer.closeAll();
                                        }
                                    });
                                }else {
                                    layer.open({
                                        type: 1
                                        ,offset: 'rb'
                                        ,id: 'addFail'
                                        ,content: json.msg
                                        ,btn: '关闭全部'
                                        ,btnAlign: 'c' //按钮居中
                                        ,shade: 0 //不显示遮罩
                                        ,yes: function(){
                                            layer.closeAll();
                                        }
                                    });
                                }
                            }
                        });
                    }
                    ,btn2: function(index, layero){
                        //按钮【按钮二】的回调

                        //return false 开启该代码可禁止点击该按钮关闭
                    },
                    content:$("#hidden")
                });
            });
            groupTable.reload({
                where:{

                }
            });
        });
    });



    //]]>
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-mini" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-mini" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-mini" lay-event="del">删除</a>

    <!-- 这里同样支持 laytpl 语法，如： -->
    {{#  if(d.auth > 2){ }}
    <a class="layui-btn layui-btn-mini" lay-event="check">审核</a>
    {{#  } }}
</script>
</body>
</html>