<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>角色菜单管理</title>
    <link rel="stylesheet" href="./plugins/layui/css/layui.css" media="all" />
</head>
<body>
    <!--角色菜单-->
    <div class="layui-collapse" id="getList" >

    </div>

    <!--树形结构-->
    <ul id="treeMenu" style="display: none">

    </ul>

    <!--节点编辑-->
    <form class="layui-form" action="" id="Menu" style="display: none">

    </form>

    <script src="./plugins/layui/layui.js"></script>
    <!--手动设置js，第一个是获取当前项目路径，第二个是设置功能按钮-->
    <script src="js/jquery.min.js"></script>
    <script src="js/getLocalHost.js"></script>
    <script>
        //<![CDATA[
        var host=getContextPath();
        $(function() {
            var host=getContextPath();
            $.ajax({
                url:host+'/role/getRoleMenu',
                async:false,
                data:{
                    limit:100,
                },
                success:function (json) {
                    if(json.success){
                        var getList=$("#getList");
                        $.each(json.rows,function (index,domEle) {
                            var h2="<div class=\"layui-colla-item\">\n" +
                                "<h2 class=\"layui-colla-title\" id=\"do"+index+"\">"+
                                domEle.roleName+
                                "<a style='margin-left: 100px' class=" +
                                "\"layui-btn layui-btn-mini\" " +
                                "onclick='dolook("+domEle.roleid+")'>查看</a>" +
                                "<a class=\"layui-btn layui-btn-mini\" " +
                                "onclick='edit("+domEle.roleid+")'>编辑</a></h2>\n";
                            getList.append(h2);
                        });
                    }
                }
            });



            $.ajax({
                url:host+'/Menu/getList',
                data:{
                    limit:100
                },
                async:false,
                success:function (json) {
                    if(json.success){
                        var inner="";
                        inner+=" <div class=\"layui-form-item\">\n" +
                            "    <label class=\"layui-form-label\">菜单</label>\n" +
                            "    <div class=\"layui-input-block\">\n";
                        $.each(json.rows,function (index,domEle) {
                            inner+="<input type=\"checkbox\" name=\"modid["+domEle.modid+"]\" title=\""+
                                domEle.modName+"\" id=\"modid"+domEle.modid+"\" value=\""+
                                domEle.modid+"\">\n"
                        });
                        inner+="</div></div>";
                        $("#Menu").append(inner);
                    }else{

                    }
                }
            });

        });
        //查看
        function dolook(roleid) {
             $.ajax({
                 url:host+'/role/getMenuByRole',
                 data:{
                     roleid:roleid
                 },
                 success:function (json) {
                     layui.use(['layer','tree'], function(){
                         var layer = layui.layer;

                         var nodes=new Array();

                         var children=new Array();
                         var i=0;
                         $.each(json,function (index,domEle) {

                             if(domEle.parMod==0&&index==0){
                                 nodes[i]=new Object();
                                 nodes[i].modid=domEle.modid;
                                 nodes[i].name=domEle.modName;
                                 nodes[i].parMod=domEle.parMod;
                                 nodes[i].modDes=domEle.modDes;
                                 nodes[i].modCD=domEle.modCD;
                                 nodes[i].modUrl=domEle.modUrl;
                                 nodes[i].notes=domEle.notes;
                                 children[i]=new Array();
                             }else if(domEle.parMod!=0){
                                 var childrenNode=new Object();
                                 childrenNode.modid=domEle.modid;
                                 childrenNode.name=domEle.modName;
                                 childrenNode.parMod=domEle.parMod;
                                 childrenNode.modDes=domEle.modDes;
                                 childrenNode.modCD=domEle.modCD;
                                 childrenNode.modUrl=domEle.modUrl;
                                 childrenNode.notes=domEle.notes;
                                 children[i].push(childrenNode);
                             }else if(domEle.parMod==0&&index!=0){
                                 nodes[i].children=children[i];
                                 i++;
                                 children[i]=new Array();
                                 nodes[i]=new Object();
                                 nodes[i].modid=domEle.modid;
                                 nodes[i].name=domEle.modName;
                                 nodes[i].parMod=domEle.parMod;
                                 nodes[i].modDes=domEle.modDes;
                                 nodes[i].modCD=domEle.modCD;
                                 nodes[i].modUrl=domEle.modUrl;
                                 nodes[i].notes=domEle.notes;
                             }
                         });
                         nodes[i].children=children[i];
                         layui.tree({
                             elem:'#treeMenu',
                             nodes:nodes
                         });
                         /*tree.remove(a);*/
                         layer.open({
                             title:'查看',
                             type: 1,
                             content:$("#treeMenu"),
                             area: ['500px', '300px']
                         });

                     });
                 }
             });
            $("#treeMenu").empty();
        }

        //编辑
        function edit(roleid) {
            $.ajax({
                url:host+'/role/getMenuByRole',
                data:{
                    roleid:roleid
                },
                success:function (json) {
                    $.each(json,function (index,domEle) {
                        /*var imp="#modid["+domEle.modid+"]";*/
                        $("#modid"+domEle.modid).attr("checked",true);
                    });
                    layui.use(['layer','tree','form'], function(){
                        var layer = layui.layer;
                        layer.open({
                            title: '编辑',
                            type: 1,
                            btn: ['确定', '取消'],
                            content: $("#Menu"),
                            yes: function(index, layero) {
                                var arr=new Array();
                                var list=$('input[type=checkbox]:checked');
                                var right=new Array();
                                $.each(list,function (index,domEle) {
                                    arr.push(domEle.value);
                                    right.push(1);
                                });
                                console.log(arr);
                                var data=new Object();
                                data.roleId=roleid;
                                data.pids=arr;
                                data.right=right;
                                console.log(data);
                                $.ajax({
                                    url:host+'/role/saveCompetence',
                                    data:data,
                                    type:'post',
                                    traditional:true,
                                    success:function (json) {
                                        if(json.success){
                                            layer.open({
                                                type: 1
                                                ,offset: 'rb'
                                                ,id: 'addSuccess'
                                                ,content: json.msg
                                                ,btn: '关闭全部'
                                                ,btnAlign: 'c' //按钮居中
                                                ,shade: 0 //不显示遮罩
                                                ,yes: function(){
                                                    layer.closeAll();
                                                    $("input[type=checkbox]:checked").attr("checked",false);
                                                    location.reload();
                                                }
                                            });
                                        }else{
                                            layer.open({
                                                type: 1
                                                ,offset: 'rb'
                                                ,id: 'addFail'
                                                ,content: json.msg
                                                ,btn: '关闭全部'
                                                ,btnAlign: 'c' //按钮居中
                                                ,shade: 0 //不显示遮罩
                                                ,yes: function(){
                                                    layer.closeAll();
                                                    $("input[type=checkbox]:checked").attr("checked",false);
                                                    location.reload();
                                                }
                                            });
                                        }
                                    }
                                });
                                $("input[type=checkbox]:checked").attr("checked",false);
                                location.reload();
                            },
                            btn2:function (index, layero) {
                                $("input[type=checkbox]:checked").attr("checked",false);
                                location.reload();
                            },
                            cancel: function(){
                                $("input[type=checkbox]:checked").attr("checked",false);
                                location.reload();
                            }

                        });

                    });

                }
            });
        }


        //]]>
    </script>
    <script type="text/html" id="barDemo">
        <a class="layui-btn layui-btn-mini" lay-event="detail">查看</a>
        <a class="layui-btn layui-btn-mini" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-mini" lay-event="del">删除</a>

        <!-- 这里同样支持 laytpl 语法，如： -->
        {{#  if(d.auth > 2){ }}
        <a class="layui-btn layui-btn-mini" lay-event="check">审核</a>
        {{#  } }}
    </script>
</body>
</html>