<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>用户管理</title>
    <link rel="stylesheet" href="./plugins/layui/css/layui.css" media="all" />
</head>

<body>

<div class="demoTable" style="margin-top: 8px">
    <button class="layui-btn" id="add">
        <i class="layui-icon">&#xe608;</i> 添加
    </button>
    搜索：
    <div class="layui-inline">
        <input class="layui-input" name="userid" id="searchInput" autocomplete="off"></input>
    </div>
    <button class="layui-btn" data-type="reload" id="search">搜索</button>
</div>
<table class="layui-table"  lay-filter="test" id="usersTable">

</table>
<!--测试代码-->
<form class="layui-form" action="" id="hidden" style="display: none">
    <div class="layui-form-item">
        <label class="layui-form-label">用户名</label>
        <div class="layui-input-block">
            <input type="text" lay-verify="title" name="username" id="getUsername"
                   autocomplete="off" placeholder="请输入名称" class="layui-input">
            </input>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">用户密码</label>
        <div class="layui-input-block">
            <input type="text" name="password" lay-verify="required" id="getPassword"
                   placeholder="请输入密码" autocomplete="off" class="layui-input">
            </input>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">真实姓名 </label>
            <div class="layui-input-block">
                <input type="text" name="userRealName" lay-verify="title" id="getUserRealName"
                       autocomplete="off" class="layui-input" placeholder="请输入真实姓名">
                </input>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">用户状态</label>
            <div class="layui-input-block">
                <input type="text" name="userstate" lay-verify="title" id="getUserstate"
                       autocomplete="off" class="layui-input" placeholder="请输入状态">
                </input>
            </div>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">备注</label>
            <div class="layui-input-block">
                <input type="text" name="notes" lay-verify="title" id="getNotes"
                       autocomplete="off" class="layui-input" placeholder="请输入备注">
                </input>
            </div>
        </div>
        <div class="layui-inline">
            <label class="layui-form-label">批次</label>
            <div class="layui-input-block">
                <input type="text" name="groupid" id="getGroupid" lay-verify="title"
                       placeholder="设置批次" autocomplete="off" class="layui-input">
                </input>
            </div>
        </div>
    </div>
</form>
<!--测试代码 end-->
<script src="./plugins/layui/layui.js"></script>
<!--手动设置js，第一个是获取当前项目路径，第二个是设置功能按钮-->
<script src="js/jquery.min.js"></script>
<script src="js/getLocalHost.js"></script>
<script>
    //<![CDATA[
    var host=getContextPath();
    var height=window.screen.availHeight-280;
    layui.use('table', function() {
        var table = layui.table;

        var usersTable=table.render({
            elem: '#usersTable' //指定原始表格元素选择器（推荐id选择器）
            ,height: height //容器高度
            ,url: host+'/users/getList'
            ,cols:[[
                {field:'userid', width:120, sort: true,title:'用户ID'}
                ,{field:'username', width:120,title:'用户名'}
                ,{field:'password', width:120,title:'用户密码'}
                ,{field:'userRealName', width:120,title:'真实姓名'}
                ,{field:'groupid', width:177,title:'所属批次'}
                ,{field:'userstate', width:120,title:'模块地址'}
                ,{field:'notes', width:120,title:'备注'}
                ,{fixed:'right', width:200, align:'center', toolbar: '#barDemo'}
            ]]
            ,response: {
                statusName: 'success', //数据状态的字段名称，默认：code
                statusCode: true //成功的状态码，默认：0
                //,msgName: 'hint' //状态信息的字段名称，默认：msg
                ,countName: 'total' //数据总数的字段名称，默认：count
                ,dataName: 'rows' //数据列表的字段名称，默认：data
            }
            /*,initSort: {
                field: 'userid' //排序字段，对应 cols 设定的各字段名
                ,type: 'desc' //排序方式  asc: 升序、desc: 降序、null: 默认排序
            }*/
            ,page: true
            ,limits: [10,30,60,90,150,300]
            ,limit: 10 //默认采用60
            ,id:'idTest'

        });

        //查询
        $("#search").click(function () {

            var search=$("#searchInput").val();
            if(search!=null && search!=""){
                usersTable.reload({
                    where:{
                        username:search
                    }
                });
            }else{
                usersTable.reload({
                    where:{
                    }
                });

            }

        });

        table.on('tool(test)', function(obj){
            //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值
            var tr = obj.tr; //获得当前行 tr 的DOM对象
            var text='<div style="padding: 50px; line-height: 22px; ' +
                'background-color: #393D49; color: #fff; font-weight: 300;">';
            text+='用户id：'+data.userid+'<br/>用户名：'+data.username+'<br/><br/>用户密码：';
            text+=data.password+'<br/><br/>用户状态：'+data.userstate;
            if(data.groupid!=null&&data.groupid!=""){
                text+='<br/><br/>该学生正在学习，所属'+data.groupid+'批次';
            }
            text+='</div>';
            if(layEvent === 'detail'){ //查看
                layui.use('layer', function() { //独立版的layer无需执行这一句
                    var $ = layui.jquery, layer = layui.layer; //独立版的layer无需执行这一句
                    layer.open({
                        type: 1
                        ,title: false //不显示标题栏
                        ,closeBtn: false
                        ,area: '300px;'
                        ,shade: 0.8
                        ,id: 'LAY_layuipro' //设定一个id，防止重复弹出
                        ,btn: ['百度一下', '确定']
                        ,moveType: 1 //拖拽模式，0或者1
                        ,content: text
                        ,success: function (layero) {
                            var btn = layero.find('.layui-layer-btn');
                            btn.css('text-align', 'center');
                            btn.find('.layui-layer-btn0').attr({
                                href: 'http://www..com/'
                                , target: '_blank'
                            });
                        }
                    });
                });
            } else if(layEvent === 'del'){ //删除
                layer.confirm('真的删除行么', function(index){

                    //向服务端发送删除指令
                    $.ajax({
                        url:host + '/users/delete',
                        data:{userid:data.userid},
                        success:function (json) {
                            layer.close(index);
                            if (json.success) {
                                layer.open({
                                    type: 1
                                    , offset: 'rb'
                                    , id: 'delSuccess'
                                    , content: json.msg
                                    , btn: '关闭全部'
                                    , btnAlign: 'c' //按钮居中
                                    , shade: 0 //不显示遮罩
                                    , yes: function () {
                                        layer.closeAll();
                                        obj.del(); //删除对应行（tr）的DOM结构，并更新缓存
                                        layer.close(index);
                                    }
                                });
                            } else {
                                layer.open({
                                    type: 1
                                    , offset: 'rb'
                                    , id: 'delFail'
                                    , content: json.msg
                                    , btn: '关闭全部'
                                    , btnAlign: 'c' //按钮居中
                                    , shade: 0 //不显示遮罩
                                    , yes: function () {
                                        layer.closeAll();
                                    }
                                });
                            }
                        }
                    });
                });
            } else if(layEvent === 'edit'){ //编辑
                $("#getUsername").val(data.username);
                $("#getUserstate").val(data.userstate);
                $("#getPassword").val(data.password);
                $("#getUserRealName").val(data.userRealName);
                $("#getGroupid").val(data.groupid);
                $("#getNotes").val(data.notes);
                layui.use('layer', function() {
                    var layer = layui.layer;
                    layer.open({
                        title:'编辑',
                        type: 1,
                        btn: ['确定','取消'],
                        content:$("#hidden"),
                        yes: function(index, layero) {
                            //按钮【按钮一】的回调
                            var a = new Object();
                            a.username = $("#getUsername").val();
                            a.password = $("#getPassword").val();
                            a.userRealName = $("#getUserRealName").val();
                            a.userstate = $("#getUserstate").val();
                            a.notes = $("#getNotes").val();
                            a.groupid = $("#getGroupid").val();
                            a.userid = data.userid;
                            $.ajax({
                                url: host + '/users/modify',
                                data: a,
                                success: function (json) {
                                    layer.close(index);
                                    if (json.success) {
                                        layer.open({
                                            type: 1
                                            , offset: 'rb'
                                            , id: 'editSuccess'
                                            , content: json.msg
                                            , btn: '关闭全部'
                                            , btnAlign: 'c' //按钮居中
                                            , shade: 0 //不显示遮罩
                                            , yes: function () {
                                                $("#getUsername").val("");
                                                $("#getUserstate").val("");
                                                $("#getPassword").val("");
                                                $("#getUserRealName").val("");
                                                $("#getGroupid").val("");
                                                $("#getNotes").val("");

                                                layer.closeAll();
                                            }
                                        });
                                        //同步更新缓存对应的值
                                        console.log(data);
                                        console.log(obj.update);
                                        obj.update({
                                            username: a.username
                                            ,password: a.password
                                            ,userRealName: a.userRealName
                                            ,userstate: a.userstate
                                            ,notes: a.notes
                                            ,groupid: a.groupid
                                        });
                                    } else {
                                        layer.open({
                                            type: 1
                                            , offset: 'rb'
                                            , id: 'editFail'
                                            , content: json.msg
                                            , btn: '关闭全部'
                                            , btnAlign: 'c' //按钮居中
                                            , shade: 0 //不显示遮罩
                                            , yes: function () {
                                                $("#getUsername").val("");
                                                $("#getUserstate").val("");
                                                $("#getPassword").val("");
                                                $("#getUserRealName").val("");
                                                $("#getGroupid").val("");
                                                $("#getNotes").val("");
                                                layer.closeAll();
                                            }
                                        });
                                    }
                                }
                            });
                        }
                    });
                });
            }
        });


        //添加按钮
        $("#add").click(function () {
            layui.use('layer', function() {
                var layer = layui.layer;
                layer.open({
                    title:'添加',
                    type: 1,
                    btn: ['确定','取消'],
                    yes: function(index, layero){
                        //按钮【按钮一】的回调
                        var obj=new Object();
                        obj.username=$("#getUsername").val();
                        obj.password=$("#getPassword").val();
                        obj.userRealName=$("#getUserRealName").val();
                        obj.userstate=$("#getUserstate").val();
                        obj.notes=$("#getNotes").val();
                        obj.groupid=$("#getGroupid").val();
                        $.ajax({
                            url:host+'/users/add',
                            data:obj,
                            success:function (json) {
                                layer.close(index);
                                if(json.success){
                                    layer.open({
                                        type: 1
                                        ,offset: 'rb'
                                        //具体配置参考：http://www.layui.com/doc/modules/layer.html#offset
                                        ,id: 'addSuccess'
                                        ,content: json.msg
                                        ,btn: '关闭全部'
                                        ,btnAlign: 'c' //按钮居中
                                        ,shade: 0 //不显示遮罩
                                        ,yes: function(){
                                            layer.closeAll();
                                        }
                                    });
                                }else {
                                    layer.open({
                                        type: 1
                                        ,offset: 'rb'
                                        //具体配置参考：http://www.layui.com/doc/modules/layer.html#offset
                                        ,id: 'addFail'
                                        ,content: json.msg
                                        ,btn: '关闭全部'
                                        ,btnAlign: 'c' //按钮居中
                                        ,shade: 0 //不显示遮罩
                                        ,yes: function(){
                                            layer.closeAll();
                                        }
                                    });
                                }
                            }
                        });
                    }
                    ,btn2: function(index, layero){
                        //按钮【按钮二】的回调

                        //return false 开启该代码可禁止点击该按钮关闭
                    },
                    content:$("#hidden")
                });
            });
            usersTable.reload({
                where:{

                }
            });
        });
    });



    //]]>
</script>
<script type="text/html" id="barDemo">
    <a class="layui-btn layui-btn-mini" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-mini" lay-event="edit">编辑</a>
    <a class="layui-btn layui-btn-danger layui-btn-mini" lay-event="del">删除</a>

    <!-- 这里同样支持 laytpl 语法，如： -->
    {{#  if(d.auth > 2){ }}
    <a class="layui-btn layui-btn-mini" lay-event="check">审核</a>
    {{#  } }}
</script>
</body>

</html>